<!doctype html>

<html>

<head>

  <title>:33</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/normalize.css">
  <style>

    

  </style>

</head>


<body>
  
  <h1>mayde itttt</h1>
  <p>ur <i><span id="firstName">{{user.firstName}}</span></i></p>
  <p>ur friends are</p>
  <ul id="friendList">
  {{#each user.friends}}
    <li class="friend--item">{{this.firstName}} {{this.lastName}} <button type="button" action="DELETE" value="{{this.userId}}">Remove :(</button></li>
  {{/each}}
  </ul>
  <p>u have requests from these guyz</p>
  <ul id="friendRequests">
  {{#each user.friendRequests}}
    <li class="request--item"><strong>{{this.firstName}}</strong> wants to add ya.<br>
    <button type="button" value="{{this.id}}" action="ACCEPT">Accept</button>
    <button type="button" value="{{this.id}}" action="DECLINE">Decline</button></li>
  {{/each}}
  </ul>

  <br>
  <form action="/user/addRequest" method="post">
  <label>Add</label>
  <input type="text" id="friendToAdd" name="friendId" placeholder="Add">
  <button type="submit" id="addFriend" action="SEND">Add</button>
  </form>

  <script src="/js/jquery-2.2.0.js"></script>
  <script src="/js/bundle.js"></script>
</body>

</html>