<!doctype html>
<html>

<head>
  <title>:33</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <style>
  .map--area {
    background: #e5e3df;
  }
  </style>
</head>

<body>
  <div class="page--wrapper full--height pos--rel" style="">
    <div class="main--container full--height">
      <div class="main--nav full--height center--content">
        <div class="filters--container">
          <span class="control--header">OurPlaces</span>
          <ul id="filterContainer" class="filter--ctrls">
            <li class="filter--ctrl">
              <button id="filterMyPlaces" class="filter--btn">My Places</button>
            </li>
            <li>
              <button id="filterFriendPlaces" class="filter--btn">Everyones Places</button>
            </li>
          </ul>
        </div>
        <div class="friend--container">
            <span class="friend--header">My Friends</span>
            <ul class="friend--list">
              {{#if user.friendCount}}
              {{#each user.friends}}
              <li class="friend--item">
                <span class="friend--name">{{this.username}} | {{this.firstName}} <button class="friend--remove--btn" friend_id="{{this.userId}}">X</button></span>
              </li>
              {{/each}} {{else}}
                <li class="friend--item">
 <span class="friend--name empty">no friends yet :(</span>
              </li>
              {{/if}}
            </ul>
        </div>
        <div class="request--contianer">
          <div class="request--input--container">
            <input id="addFriendInput" class="request--input" type="text" name="friendUsername" placeholder="Buddy Username">
            <button id="addFriendSubmit" class="request--btn">ADD</button>
            <span id="requestStatus" style="display: block; text-align: center; margin-top: .5rem; color: red; font-style: italic; font-size: .8rem"></span>
          </div>
        </div>
        <div class="account--container">
          <span>{{user.firstName}}</span><br>
          <span id="username">{{user.username}}</span>
          <div class="mail--container">
          <div id="openMail" class="mail--notification">
            {{#if user.requestCount}}
            <div class="mail--img active">&nbsp;</div>
            <span class="mail--txt active">{{user.requestCount}}</span> {{else}}
            <div class="mail--img inactive">&nbsp;</div>
            <span class="mail--txt inactive">0</span> {{/if}}
            </div>
          </div>
          <div class="settings--container"></div>
        </div>
      </div>
      <div class="map--area">
        <div class="controls--container">
          <div class="search--container">
            <input id="placeSearchInput" class="search--input" type="text" name="placeSearchString" placeholder="Search, e.g. 'Sodosopah'">
            <ul id="predictiveContainer" class="predictive--results">
              <li class="prefetch--load--img hide">
                <div class='uil-ring-css'>
                  <div></div>
                </div>
              </li>
            </ul>
          </div>
          <button id="placesSearchSubmit" class="search--btn">SEARCH</button>
        </div>
        <ul id="notifications" class="mail--items hide">
        {{#if user.requestCount}}
            {{#each user.friendRequests}}
              <li request_id="{{this.userId}}"><span class="mail--name" title="{{this.firstName}} {{this.lastName}}">{{this.firstName}} {{this.lastName}}</span><div friend_id="{{this.userId}}" class="mail--actions"><button class="mail--btn accept">✓</button><button class="mail--btn reject">X</button></div></li>
            {{/each}}
        {{else}}
            <li><span>No Requests : /</span>
        {{/if}}
            <li id="closeMail"><button>Close</button></li>
            </ul>
        <div id="map" class="map">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9eJ1ddUa7R5OV1lXGrJ81j18-BTy0Z5I&libraries=places"></script>
  <script src="/js/jquery-2.2.0.js"></script>
  <script src="/js/bundle.js"></script>
</body>

</html>
