<!doctype html>
<html>

<head>
  <title>:33</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://localhost:3000/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <style>
  html,
  body,
  .full--height {
    height: 100%;
    overflow: auto;
  }
  
  h1,
  h2,
  h3,
  a,
  p,
  span,
  button {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  
  p {
    margin: 0;
    font-size: .95rem;
  }
  
  .main--container {
    display: flex;
    align-items: center;
  }
  
  .main--nav {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fffff0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 5;
  }
  
  .control--header {
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  
  .center--content {
    text-align: center;
  }
  
  button {
    padding: 0;
    margin: 0;
    outline: 0;
    font-size: 1rem;
    border: 0;
    background: none;
  }
  
  .filter--ctrls {
    border-top: 1px solid #f0ddfb;
    border-bottom: 1px solid #f0ddfb;
    text-align: left;
  }
  
  .filter--ctrls > li {
    border-bottom: 1px solid #f7effc;
  }
  
  .filter--ctrls > li:last-child {
    border-bottom: 0;
  }
  
  .filter--btn {
    display: block;
    height: 100%;
    padding: .95rem 0;
    padding-right: .35rem;
    width:100%;
    text-align: right;
  }
  
  .filter--btn.active {
    border-right: 8px solid #d998fe;
  }
  
  .filter--btn.inactive {
    border-right: 8px solid #cecdcd;
  }
  
  .pos--rel {
    position: relative;
  }
  
  .map--area {
    flex-grow: 1;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .map {
    height: 100%;
    width: 100%;
  }


  .search--input {
    padding: .5rem .75rem;
    width: 30%;
    min-width: 200px;
    max-width: 600px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #828181;
  }
  
  .search--btn {
    display: inline-block;
    background: #f0ddfb;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: .5rem 1.5rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #8A7B92;
  }

  .controls--container {
    position: absolute;
    z-index: 3;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }

  .mail--container {
    padding: 1rem 0 2rem 0;
  }

  .mail--txt, .mail--img {
    vertical-align: middle;
  }

  .mail--img {
    width: 25%;
    height: auto;
    display: inline-block;
    padding-right: .5rem;
  }
  
  .mail--txt {
    font-size: 1.05rem;
    font-weight: 700;
    display: inline-block;
    padding-left: .5rem;
  }

  .mail--txt.active {
    color: #ff4444;
  }

  .mail--txt.inactive {
    color: #cccbcb;
  }

  </style>
</head>

<body>
  <!-- <div style="display: none;">
    <ul id="friendList">
      {{#each user.friends}}
      <li class="friend--item">{{this.firstName}} {{this.lastName}}
        <button type="button" action="DELETE" value="{{this.userId}}">Remove :(</button>
      </li>
      {{/each}}
    </ul>
    <p>u have requests from these guyz</p>
    <ul id="friendRequests">
      {{#each user.friendRequests}}
      <li class="request--item"><strong>{{this.firstName}}</strong> wants to add ya.
        <br>
        <button type="button" value="{{this.id}}" action="ACCEPT">Accept</button>
        <button type="button" value="{{this.id}}" action="DECLINE">Decline</button>
      </li>
      {{/each}}
    </ul>
    <br>
    <form action="/user/addRequest" method="post">
      <label>Add</label>
      <input type="text" id="friendToAdd" name="friendId" placeholder="Add">
      <button type="submit" id="addFriend" action="SEND">Add</button>
    </form>
    <button type="submit" id="placeSearchSubmit">Search</button>
  </div> -->
  <div class="page--wrapper full--height pos--rel" style="">
    <div class="main--container full--height">
      <div class="main--nav full--height center--content">
        <div class="filters--container">
          <span class="control--header">OurPlaces</span>
          <ul id="filterContainer" class="filter--ctrls">
            <li class="filter--ctrl">
              <button class="filter--btn active">My Places</button>
            </li>
            <li>
              <button class="filter--btn inactive">Everyones Places</button>
            </li>
          </ul>
        </div>
        <div class="request--contianer">
          <span>Add Friend</span>
          <button>+</button>
        </div>
        <div class="account--container">
          <span>{{user.firstName}}</span>
          <div class="mail--container">
            {{#if user.requestCount}}
            <img class="mail--img active" src="/images/mail--active.png">
            <span class="mail--txt active">{{user.requestCount}}</span> 
            {{else}}
            <img class="mail--img inactive" src="/images/mail--inactive.png">
            <span class="mail--txt inactive">0</span> 
            {{/if}}
          </div>
          <div class="settings--container"></div>
        </div>
      </div>
      <div class="map--area">
        <div class="controls--container">
          <input id="placeSearchInput" class="search--input" type="text" name="placeSearchString" placeholder="Search, e.g. 'Sodosopah'">
          <button id="placesSearchSubmit" class="search--btn">SEARCH</button>
        </div>
        <div id="map" class="map">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9eJ1ddUa7R5OV1lXGrJ81j18-BTy0Z5I&libraries=places"></script>
  <script src="/js/jquery-2.2.0.js"></script>
  <script src="/js/bundle.js"></script>
  <script>
function execSearch(map, request, service) {

  service.nearbySearch(request, function(results, status) {
    console.log(results, status);
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        // If the request succeeds, draw the place location on
        // the map as a marker, and register an event to handle a
        // click on the marker.
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
      }
    }
  });

}

function initialize() {
  var pyrmont = new google.maps.LatLng(-33.8665, 151.1956);

  var map = new google.maps.Map(document.getElementById('map'), {
    center: pyrmont,
    zoom: 15,
    scrollwheel: true,
    disableDefaultUI: true
  });

  // Specify location, radius and place types for your Places API search.
  var request = {
    location: pyrmont,
    radius: '500',
    types: ['store']
  };

  // Create the PlaceService and send the request.
  // Handle the callback with an anonymous function.
  var service = new google.maps.places.PlacesService(map);
  document.getElementById('placesSearchSubmit').addEventListener('click', function(e) {
      request.query = document.getElementById('placeSearchInput').value;
      execSearch(map, request, service);
  });

}

// Run the initialize function when the window has finished loading.
google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</body>

</html>
